@-moz-document url-prefix("https://stackoverflow.com"), url-prefix("https://superuser.com"), url-prefix("https://askubuntu.com"), regexp("https://.*\\.stackexchange\\.com/.*") {
.question .js-voting-container button.bar-pill {
    padding: 0px;
    border: none !important;
    border-radius: 5px !important;
    background-color: var(--_bu-bg) !important;
    margin: 0;
    
}
.question .js-voting-container button.bar-pill.fc-black-700 {
    color: var(--black-400) !important;
}
.question .js-voting-container button.bar-pill svg {
    width: 40px;
    height: 40px;
}

.question .js-voting-container .js-vote-count {
    color: var(--black-600) !important;
    margin: 0;
}
}
