@-moz-document regexp(".*(stackoverflow|askubuntu|serverfault|stackapps|stackexchange|superuser)\\.com.*") {
/* Fix voting buttons */
.js-voting-container {
    --fs-subheading: 1.61538462rem;
    --voting-arrowsize: 34px;
    --correctColor: #babfc4;
}

.js-voting-container button.bar-pill {
    padding: 0px;
    border: none !important;
    border-radius: 5px !important;
    background-color: var(--_bu-bg) !important;
    margin: 0;
}

.js-voting-container button.bar-pill.fc-black-700 {
    color: var(--correctColor) !important;
}

.js-voting-container button.bar-pill.fc-white {
    color: var(--_bu-fc) !important;
}

.js-voting-container button.bar-pill svg {
    width: var(--voting-arrowsize);
    height: var(--voting-arrowsize);
}

.js-voting-container .js-vote-count {
    color: var(--black-500) !important;
    margin: 0;
    font-weight: unset !important;
}

.js-voting-container > div {
    text-align: center;
}
}
